/* headings{
    color: red;
    background-color: yellow;
}

body{
    background-color: pink;
}

button{
    background-color: greenyellow;
    color: red;
} */


/* .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
} */


/* #box{
    height: 100x;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
} */


.content{
    color: red;
}

.newClass{
    background-color: green;
}